body {
  color: black;
  font-weight: 100;
  font: bold;
  background-image: url("https://scontent.fdac135-1.fna.fbcdn.net/v/t39.30808-6/273854962_705776603766528_6559795031394283549_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=1b51e3&_nc_eui2=AeFtiAwU-wQO8EiY9ZxYW2cJzUEpLmpPE_PNQSkuak8T8yXbeCUmZt-Xa0yMeSoIeePacu5_0aNF_yEivRaEayXQ&_nc_ohc=dEN3brMngUgAX-Ltk3r&_nc_ht=scontent.fdac135-1.fna&oh=00_AfCJD_9dUwK07p1tTDJWDRvp_-3XjeGtIJufIPq0iRbTyA&oe=65046F0F");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

div {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 100px;
  padding: 10px 0;
  border: 5px dashed white;
}
